:root {


  /* Font */
  --fontFamily: "Montserrat", sans-serif;
}


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: var(--fontFamily);
} /* 1rem = 10px */
