:root {


  /* Font */
  --fontFamily: "Montserrat", sans-serif;
}


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 1rem = 10px */
  font-family: var(--fontFamily);

  margin-top: 2rem;

  /* width: 60%;
  left: 20%;
  position: relative; */

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5rem;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 2rem;
  margin-bottom: 5rem;
}

table, th, td {
  padding: 1rem;
}

table {
  width: 100rem;
  text-align: center;
  border-collapse: collapse;
}

tr {
  background-color: lightgray;
  border: 1px solid white;
}
